.articleimg {
  width: 450px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.articleimg img {
  width: 250px;
  height: fit-content;
  border-radius: 30px;
}
.download {
  width: 50px;
  height: 30px;
  left: 300px;
  top: 90px;
  position: absolute;
  border: none;
  visibility: hidden;
  z-index: 2;
}
.download img {
  width: 50px !important;
  height: 30px !important;
}
.lovebutton {
  visibility: hidden;
  position: absolute;
  left: 100px;
  top: 90px;
}
.articleimg :hover {
  transform: scale(1.1);
}
.articleimg:hover .lovebutton {
  visibility: visible;
}
.articleimg:hover .download {
  visibility: visible;
}

.articleimg h3 {
  width: 250px;
  font-size: 15px;
  text-align: center;
}
