nav {
  display: flex;
  position: relative;
  left: -30px;
}
.navcontent {
  display: flex;
  gap: var(--ppk-gap-xs);
  justify-content: space-around;
  width: 300px;
  min-width: 320px;
}
.serchdiv {
  display: flex;
  width: 500px;
  background-color: rgb(219, 219, 219);
  border-radius: 30px;
  justify-content: space-evenly;
  gap: 20px !important;
  align-items: center;
  min-width: 300px;
}
.searchimg {
  width: 30px;
  height: 40px;
  position: relative;
  top: 5px;
  left: 35px;
}
.notificationimg {
  width: 30px;
  position: relative;
  top: 15px;
  height: 30px;
}
.searchinput {
  width: 300px;
  height: 35px;
  border-radius: 30px;
  border: none;
  padding: 20px;
}
.searchinput:hover::placeholder {
  opacity: 0;
}
.serchdiv button {
  height: 40px;
  position: relative;
  top: 5px;
}
.divindex {
  display: flex;
  gap: 20px;
  position: relative;
  left: 50px;
}
.menubutton {
  width: 60px;
  height: 50px;
  display: none;
  position: absolute;
  right: -80px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
}
.menuimg {
  object-fit: contain !important;
  width: 50px;
}

@media (max-width: 1324px) {
  .divindex {
    position: relative;
    left: -10px;
  }
}
@media (max-width: 1000px) {
  .divindex {
    display: none;
  }
  .serchdiv {
    width: 400px;
  }
  .searchinput {
    width: 200px;
  }
  .menu-vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 760px;

    top: 40px;
    overflow: hidden;
  }
  .menubutton {
    display: block;
  }
  .navbar {
    position: relative;
    left: -90px;
  }
}
@media (max-width: 900px) {
  .serchdiv {
    position: absolute;
    top: 80px !important;
  }
  .menubutton {
    position: absolute;
    left: 400px;
  }
  .menu-vertical {
    position: absolute;
    left: 420px;
  }
}
@media (max-width: 528px) {
  .navbar {
    position: absolute;
    left: 50px;
  }
  .menubutton {
    display: none;
  }
  .menu-vertical {
    display: none;
  }
  .serchdiv {
    position: absolute;
    left: 0px !important;
  }
}
@media (max-width: 470px) {
  .serchdiv {
    width: 350px;
    align-content: center;
  }
  .buscarbutton {
    width: 80px;
    font-size: 10px;
    position: relative;
    top: 0px !important;
  }
  .searchimg {
    display: none;
  }
}
@media (max-width: 413px) {
  .serchdiv {
    width: 250px;
  }
}
