header {
  display: flex;
  width: 100svw;
  padding: var(--ppk-padding-l);
  height: 15svh;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  position: fixed;
  top: 0px;
  z-index: 2;
  align-items: center;
  background-color: whitesmoke;
}
.logocontainer {
  width: 100px;
  height: 50px;
}
.logoimage {
  object-fit: fill;
  width: 75px;
  height: 50px;
  border-radius: 100%;
}
@media (max-width: 1000px) {
  header {
    height: 20svh;
  }
  .logocontainer {
    display: none;
  }
}
