header {
  display: flex;
  width: 100svw;
  padding: var(--ppk-padding-l);
  height: 15svh;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  position: fixed;
  top: 0px;
  z-index: 2;
  align-items: center;
  background-color: whitesmoke;
}
.logocontainer {
  width: 100px;
  height: 50px;
}
.logoimage {
  object-fit: fill;
  width: 75px;
  height: 50px;
  border-radius: 100%;
}
@media (max-width: 864px) {
  header {
    height: 40svh;
  }
  .logocontainer {
    position: relative;
    left: 150px;
  }
}
@media (max-width: 800px) {
  .logocontainer {
    left: 80px;
  }
}
@media (max-width: 748px) {
  .logocontainer {
    left: 50px;
  }
}
